<!-- INÍCIO DO CONTEÚDO -->
<section class="content-header">
</section>

<section class="content">

  <div class="jumbotron welcome-jumbotron">
     <h1>Bem vindo Almanaque dos Filmes!</h1>
    <div class="logo">
      <img src="../../assets/img/Logo_site.png" alt="">
      </div>
     <p>
      Quer saber o melhor filme para assistir? Venha ao melhor site de sugestões!!!
     </p>
     <a class="btn btn-primary btn-lg" routerLink="/filmes">Ver Filmes</a>
  </div>

</section>
<!-- FIM DO CONTEÚDO -->
